<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxt.sys.mapper.SysUsersMapper">
	<resultMap id="BaseResultMap"	type="com.sxt.sys.vo.SysUsersVO">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="login_name" jdbcType="VARCHAR"
			property="loginName" />
		<result column="password" jdbcType="VARCHAR"
			property="password" />
		<result column="id_card" jdbcType="VARCHAR" property="idCard" />
		<result column="real_name" jdbcType="VARCHAR"
			property="realName" />
		<result column="sex" jdbcType="INTEGER" property="sex" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="phone" jdbcType="VARCHAR" property="phone" />
		<result column="position" jdbcType="VARCHAR"
			property="position" />
		<result column="type" jdbcType="INTEGER" property="type" />
		<result column="img"  property="img" />
	</resultMap>

	<sql id="Base_Column_List">
		id, login_name, password, id_card, real_name, sex, address, phone,
		position, type,img
	</sql>

	<!-- 新增 -->
	<insert id="insert">
		insert into sys_users (login_name, password, id_card, real_name, sex,
		address, phone, position, type)
		values ( #{loginName}, #{password}, #{idCard}, #{realName}, #{sex},
		#{address}, #{phone}, #{position}, #{type})
	</insert>
	<!-- 删除 -->
	<delete id="delete">
		delete from sys_users where id = #{id}
	</delete>
	<!-- 查询 -->
	<select id="selectOne" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_users where id = #{id}
		<where>

		</where>
	</select>
	<!-- 查询 -->
	<select id="selectList" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_users
		<where>
			<if test="loginName != null and loginName !=''">
				and login_name = #{loginName}
			</if>
			<if test="realName != null and realName !=''">
				and real_name like concat ('%',#{realName},'%')
			</if>
			<if test="phone != null and phone !=''">
				and phone =  #{phone}
			</if>
			<if test="type != null and type !=''">
				and type =  #{type}
			</if>
		</where>
	</select>
	<!-- 修改 -->
	<update id="update">
		update sys_users
		<set>
			<if test="loginName != null and loginName !=''">
				login_name = #{loginName},
			</if>
			<if test="password != null and password !=''">
				password = #{password},
			</if>
			<if test="idCard != null and idCard !=''">
				id_card = #{idCard},
			</if>
			<if test="realName != null and realName !=''">
				real_name = #{realName},
			</if>
			<if test="sex != null and sex !=''">
				sex = #{sex},
			</if>
			<if test="address != null and address !=''">
				address = #{address},
			</if>
			<if test="phone != null and phone !=''">
				phone = #{phone},
			</if>
			<if test="position != null and position !=''">
				position = #{position},
			</if>
			<if test="type != null and type !=''">
				type = #{type},
			</if>
		</set>
		where id = #{id}
	</update>
	<!-- 根据用户名和密码查询用户 -->
	<select id="selectByNameAndPwd" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_users where login_name = #{loginName} and password=#{password}
	</select>
	
</mapper>